.card {
    height: 200px;
    width: 200px;
    margin: 10px;
    box-shadow: 1 2 3 blue;
    border-radius: 25%  ;
    -webkit-border-radius: 25%  ;
    -moz-border-radius: 25%  ;
    -ms-border-radius: 25%  ;
    -o-border-radius: 25%  ;
}